<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ausapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_ausapp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_ausapp"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ausapp"
        tools:targetApi="31">
        <activity
            android:name=".Spellread10Activity"
            android:exported="false" />
        <activity
            android:name=".Spellread9Activity"
            android:exported="false" />
        <activity
            android:name=".Spellread8Activity"
            android:exported="false" />
        <activity
            android:name=".Spellread7Activity"
            android:exported="false" />
        <activity
            android:name=".Spellread6Activity"
            android:exported="false" />
        <activity
            android:name=".Spellread5Activity"
            android:exported="false" />
        <activity
            android:name=".Spellread4Activity"
            android:exported="false" />
        <activity
            android:name=".Spellread3Activity"
            android:exported="false" />
        <activity
            android:name=".Spellread2Activity"
            android:exported="false" />
        <activity
            android:name=".Spellread1Activity"
            android:exported="false" />
        <activity
            android:name=".PuzzleActivity"
            android:exported="false" />
        <activity
            android:name=".VegetableActivity"
            android:exported="false" />
        <activity
            android:name=".FruitActivity"
            android:exported="false" />
        <activity
            android:name=".FlowerActivity"
            android:exported="false" />
        <activity
            android:name=".OmnivoraActivity"
            android:exported="false" />
        <activity
            android:name=".CarnivoraActivity"
            android:exported="false" />
        <activity
            android:name=".HerbivoraActivity"
            android:exported="false" />
        <activity
            android:name=".SpellingReadingActivity"
            android:exported="false" />
        <activity
            android:name=".HumanVoiceActivity"
            android:exported="false" />
        <activity
            android:name=".AnimalVoiceActivity"
            android:exported="false" />
        <activity
            android:name=".PlantActivity"
            android:exported="false" />
        <activity
            android:name=".AnimalActivity"
            android:exported="false" />
        <activity
            android:name=".NumberActivity"
            android:exported="false" />
        <activity
            android:name=".AlphabetActivity"
            android:exported="false" />
        <activity
            android:name=".Splashscreen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name" />
    </application>

</manifest>